@mixin mobile {
    @media (max-width: 768px) {
        @content
    }
}

@mixin pad{
    @media (max-width: 1180px) {
        @content
    }
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(./bg_bggenerator_com.jpg) no-repeat;
    background-position: 50%;
}
img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.px-5{
    padding-left: 20px;
    padding-right: 20px;
}
.align-self-end{
    align-self:flex-end;
}
.px-4{
    padding-right: 16px;
    padding-left: 16px;
}
.w-10{
    width: 10% !important;
}
.w-15{
    width: 15% !important;
}
.w-35{
    width: 30% !important;
}
.w-40{
    width: 40% !important;
}
.pl-5{
    padding-left: 20px;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 80px;
    flex-wrap: wrap;
    @include pad{
        padding: 30px;
    }
    @include mobile{
        padding: 20px 10px;
    }
}
.card{
    width: 50%;
    padding: 0 20px;
    @include pad{
        width: 100% !important;
    }
    @include mobile{
        padding-left: 0;
        padding-right: 0;
    }
    &__title{
        font-size: 24px;
        text-align: center;
        background-color: #FF6B6B;
        padding: 10px 0;
        border-radius: 4px 4px 0 0;
    }
    &__img{
        background-color: #F7FFF7;
        padding-top: 20px;
       img{
         object-fit: contain;
         display: block;
         margin: 0 auto;
       }
    }
    &__body{
        background-color: #F7FFF7;
        padding: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__footer{
        height: 150px;
        img{
            padding-right: 5px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.card__body__name{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    h4{
        font-size: 24px;
        color:#1A535C;
        margin-right: 10px;
    }
    .tag{
        font-size: 12px;
        color: white;
        background: #FF6B6B;
        padding: 0 20px;
        border-radius: 50px;
        height: 20px;
        line-height: 20px;
    }
}
.text-inner{
    padding-left: 80px;
}

.card__body__desc{
    padding: 0 40px;
    p{
        margin-bottom: 10px;
    }
}

.price{
    justify-content:space-around;
    margin-top: 30px;
    .origin__price{
        background: #FF6B6B;
        color: white;
    }
    .sale__price{
        background: #FF6B6B;
        color: white;
    }
    p{
        padding: 10px 20px;
    }
}

.ml-auto{
    margin-left: auto;
}
.w-30{
    width: 30% !important;
}
.jy-content-between{
    justify-content: space-between;
}
.jy-content-around{
    justify-content: space-around;
}
.flex-wrap{
    flex-wrap: wrap;
}
.btn{
    display: block;
    color:#fff;
    padding: 5px 10px;
    letter-spacing: 0.1rem;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.3s;
    &:hover{
        color: black;
    }
    &--success{
        background-color: #1A535C;
        &:hover{
            background-color: lighten(#1A535C, 20%);
        }
    }
    &--danger{
        background-color: #FF6B6B;
        &:hover{
            background-color: darken(#FF6B6B, 10%);
        }
    }
}
.border-b{
    border-bottom: 2px solid #000;
}

.fw-bold{
    font-weight: bold;
}

.product{
    letter-spacing:0.1rem;
    align-self: baseline;
    color: #fff;
    box-shadow: 3px 3px 2px gray;
    @include pad{
        width: 100% !important;
        margin-bottom: 20px;
    }
    &__title{
        background-color: #1A535C;
    }
    h3{
        align-self: center;
    }
    >ul{
        >li{
            padding: 10px;
            transition: transform 0.3s;
            // cursor: pointer;
        }
    }
    .info__group, h3{
        font-size: 16px;
        @include mobile{
            font-size: 14px;
            width: 20%;
            white-space: nowrap;
        }
    }
    .info__group{
        @include pad{
            .toggle{
                width: 30%;
            }
        }
        @include mobile{
            width: 80%;
            .toggle{
                width: 70%;
            }
            a{
                display: block;
                width: 80% !important;
                margin-bottom: 5px;
            }
        }
        li{
            width: 25%;
            text-align: center;
            align-self: center;
            @include mobile{
                width: 33% !important;
            }
        }
        p{
            width: 50%;
            color: #FF6B6B;
            align-self: center;
            &.active{
                color:#1A535C;
            }
            @include mobile{
                display:none;
            }
        }
    }
    &__item{
        color: black;
        &:hover{
           transform: scale(1.03);
           box-shadow: 3px 3px 3px gray;
        }
    }
}
.bg--dark--lighGreen{
    background-color: darken(#F7FFF7, 5%);
}
.text-nowrap{
    white-space: nowrap;
}
.w-20{
    width: 20%;
}
.bg--lighGreen{
    background-color: #F7FFF7;
}
.align-items-center{
    align-items: center;
}
.jy-content-sm-center{
    @include mobile{
        justify-content: center;
    }
}
.w-80{
    width: 80%;
}
.me-78{
    margin-right: 312px;
}
.mb-2{
    margin-bottom: 8px;
}
.toggle{
    width: 50%;
    background: lightgray;
    border-radius: 20px;
    // outline: 3px solid gray;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    &.active{
        background: #1A535C;
    }
    &__item{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 5%;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        border-radius: 50%;
        transition: 0.5s;
        &.active{
            left: 57%;
        }
    }
}

.total__product{
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    color:#000;
    @include pad{
        justify-content: space-between;
    }
    p{
        @include pad{
            margin-right: 0;
        }
    }
    
}
.w-90{
    width: 80%;
}

.addProduct{
    position: absolute;
    width: 40%;
    background: #fff;
    z-index: 10;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    transition: 0.3s;
    z-index: -1;
    border: 1px solid lightgray;
    @include pad{
        width: 70% !important;
    }
    &.hide{
        opacity: 0;
        z-index: -1;
    }
    &.show{
        opacity: 1;
        z-index:10;
    }
    h2{
        text-align: center;
        background: #FF6B6B;
        padding: 10px 0;
    }
    form{
        background: #F7FFF7;
        label{
            margin-bottom: 5px;
            display: block;
        }
        input{
            display: block;
            padding: 10px 5px;
            outline: none;
            border: 1px solid gray;
            border-radius:4px;
            transition: 0.1s;
            &:focus{
                outline: 3px solid gray;
            }
        }
    }
}

.form-control{
    padding: 10px 30px;
    @include mobile{
        padding: 5px 15px;
        .toggle{
            width: 40% !important;
        }
    }
    input{
        width: 100%;
    }
    textarea{
        padding: 10px;
        font-size: 20px;
        outline: none;
        border: 1px solid gray;
        width: 100%;
    }
}

.form-group{
    display: flex;
}

.d-sm-none{
    @include mobile{
        display: none;
    }
}

.btn-group{
    display: flex;
    justify-content:space-between;
    padding: 10px 30px;
    @include mobile{
        padding: 5px 15px;
    }
}
